


<!-- start main -->
<div class="main">
<div class="container">
	<div class="row justify-content-between">
		<div class="col-sm-6 col-md-4 ">
<div class="card">
	<h3 class="card-title text-center">HTML5 step 1</h3>

	<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, pariatur ipsam debitis modi iusto esse. ipsum dolor sit amet, consectetur adipisicing elit. Illo rem quos, quod deserunt sunt eos at ducimus debitis autem soluta.</p>

	<button class=" font-weight-bold fot" href="#">See More</button>
	</div>		
</div>
<div class="col-sm-6 col-md-4">
<div class="card">
	<h3 class="card-title text-center">HTML5 step 1</h3>

	<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, pariatur ipsam debitis modi iusto esse. ipsum dolor sit amet, consectetur adipisicing elit. Illo rem quos, quod deserunt sunt eos at ducimus debitis autem soluta.</p>

	<button class=" font-weight-bold fot" href="#">See More</button>
	</div>		
</div>
<div class="col-sm-6 col-md-4">
<div class="card">
	<h3 class="card-title text-center">HTML5 step 1</h3>

	<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, pariatur ipsam debitis modi iusto esse. ipsum dolor sit amet, consectetur adipisicing elit. Illo rem quos, quod deserunt sunt eos at ducimus debitis autem soluta.</p>

	<button class=" font-weight-bold fot" href="#">See More</button>
	</div>		
</div>
<div class="col-sm-6 col-md-4">
<div class="card">
	<h3 class="card-title text-center">HTML5 step 1</h3>

	<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, pariatur ipsam debitis modi iusto esse. ipsum dolor sit amet, consectetur adipisicing elit. Illo rem quos, quod deserunt sunt eos at ducimus debitis autem soluta.</p>

	<button class=" font-weight-bold fot" href="#">See More</button>
	</div>		
</div>
<div class="col-sm-6 col-md-4">
<div class="card">
	<h3 class="card-title text-center">HTML5 step 1</h3>

	<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, pariatur ipsam debitis modi iusto esse. ipsum dolor sit amet, consectetur adipisicing elit. Illo rem quos, quod deserunt sunt eos at ducimus debitis autem soluta.</p>

	<button class=" font-weight-bold fot" href="#">See More</button>
	</div>		
</div>
<div class="col-sm-6 col-md-4">
<div class="card">
	<h3 class="card-title text-center">HTML5 step 1</h3>

	<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, pariatur ipsam debitis modi iusto esse. ipsum dolor sit amet, consectetur adipisicing elit. Illo rem quos, quod deserunt sunt eos at ducimus debitis autem soluta.</p>

	<button class=" font-weight-bold fot" href="#">See More</button>
	</div>		
</div>

</div>
</div>
</div>
<!-- end main -->
<!-- start about me -->
<div class="about-me">
	<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2 class="h1 h1-info">about me</h2>	
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae unde quis repudiandae expedita, illum velit, vel magnam modi culpa officia! Dignissimos perspiciatis aspernatur quo perferendis rem at iusto expedita tempore repellendus natus exercitationem quidem voluptatibus placeat saepe nesciunt, nobis eum, possimus cupiditate, optio molestias maxime minima nemo sint quibusdam. Illum error veniam veritatis libero voluptate quos a velit magni impedit ex. Animi repudiandae, blanditiis velit minus sunt. Rem quo, ducimus ipsa minus consectetur explicabo aspernatur soluta iusto iure facilis! In non voluptate temporibus numquam possimus facilis voluptas incidunt itaque omnis aliquam sit vero, nemo soluta consectetur esse explicabo quasi architecto.</p>
		</div>
		<div class="col-md-6">
			<div class="skills">
				<h2 class="h1">skills</h2>
				<div class="prog">
				<span>html</span>
				<progress class="progress" value="80" max="100">
				</progress>
				</div>
				<div class="prog">
				<span>css</span>
				<progress class="progress" value="80" max="100">
				</progress>
				</div>
				<div class="prog">
				<span>Jquery</span>
				<progress class="progress" value="80" max="100">
				</progress>
				</div>
				<div class="prog">
				<span>JavaScript</span>
				<progress class="progress" value="80" max="100">
				</progress>
				</div>
				<div class="prog">
				<span>node js</span>
				<progress class="progress" value="80" max="100">
				</progress>
				</div>


			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 fr">
			<form action="/contct">
				<input type="text" name="firstName" required placeholder="Name">
				<input type="email" name="email" required placeholder="Email">
				<textarea placeholder="Message" name="message"></textarea>
				<button type="submit">send</button>
			</form>
		</div>
		<div class="col-md-6">
			<div style="font-size:3em; color:Tomato">
   <i class="fas fa-user"></i>
  <i class="fas fa-users"></i>
  <i class="fas fa-home"></i>
    <i class="fas fa-cog fa-spin"></i>

  <i class="fab fa-facebook-f"></i>
    <i class="fas fa-code"></i>

</div>

		</div>
	</div>
	</div>


</div>



<!-- end about me -->
