
        <nav class="nav mr-auto text-center">
        	<div class="container">
     		<a class="nav-link  d-inline-block font-weight-bold active" href="#">Home</a>
     		<a class="nav-link  d-inline-block font-weight-bold" href="#">About Me</a>
     		<a class="nav-link  d-inline-block font-weight-bold" href="#">Projekts</a>
     		<a class="nav-link d-inline-block font-weight-bold" href="#">Contact Me</a>
     	</div>
     	</nav>