<!-- head page + linkes -->
<%- include('./includes/head.ejs')%>
<div class="head-img"></div>
<!-- nav bar -->
<%- include('./includes/navbar.ejs')%>

<!-- home page content -->
<%- include('./includes/home.ejs') %>

<!-- end page + scrips -->
<%- include('./includes/foot.ejs') %>

